* {
    margin:0;
    
}


/*-----------------
* Common CSS
-------------------*/
body {
    font-family: 'Work Sans';
}

.btn-primary {      
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;    
    background-color:#F15B22;
    color:#fff;
    border:0;
    border-radius: 5px;
    padding: 20px 25px;
    cursor: pointer;
    
}


/*------------------
* Others CSS 
*-------------------*/

.header-area {
    background-image: url(images/banner/banner.png);
    background-size: cover;
    background-position: center;
  }
  .header {
    padding: 200px 230px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .header-right h1 {
    color: #151414;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
  }
  .header-right {
    text-align: right;
    width: 500px;
  }
  .header-right p {
    color: #444343;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    margin-top:24px;
  }