* {
    margin: 0;
    padding: 0;
}


/*-----------------
* Common CSS
-------------------*/
body {
    font-family: 'Work Sans';
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    background-color: #F15B22;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 20px 25px;
    cursor: pointer;

}

.container {
    width: 1140px;
}

/*------------------
* Others CSS 
*-------------------*/

.header-area {
    background-image: url(images/banner/banner.png);
    background-size: cover;
    background-position: center;
}

.header {
    padding: 200px 230px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-right h1 {
    color: #151414;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}

.header-right {
    text-align: right;
    width: 500px;
}

.header-right p {
    color: #444343;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    margin-top: 24px;
}

.my-failures-area {
    margin: 130px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-failure-content {
    flex-basis: 420px;
    margin-left: 90px;
}

.my-failure-content h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.my-failure-content p {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.my-failure-content ul li {
    list-style: none;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
    padding-left: 25px;
    background-image: url(images/icons/list-item-bg.png);
    background-repeat: no-repeat;
    background-position: left 8px;
    background-size: 15px;
}




.my-plan-top {
    text-align: center;
}

.my-plan-top h2 {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 50px;
}

.my-plan-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.single-plan img {
    margin-bottom: 20px;
}

.single-plan {
    text-align: center;
}

.single-plan h2 {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 16px;
}

.single-plan p {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}

.call-to-action-area {
margin:0 auto;
}
.call-to-action {
	padding: 60px;
	border-radius: 8px;
	margin-top: 130px;
	background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url(../images/watch.png);
}
.call-to-action h2{
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 25px;
	color: #fff;
}
.call-to-btn{
	font-weight: 600;
	font-size: 20px;
	background-color: ##fff;
	color: ##F15B22;
	border: 0;
	border-radius: 5px;
	padding: 20px 35px;
    cursor: pointer;
}

.footer-area {
    margin: 130px auto 0 auto;
    background-color: #151414;
    padding: 130px 0;
}


.footer {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-left {
    flex-basis: 500px;
}

.footer-right {
    flex-basis: 300px;
}

.footer-left h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #fff;
    margin-bottom: 16px;
}

.footer-left p {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

.social-profile {
    margin-top: 16px;
    display: flex;
    gap: 15px;
}



.footer-right h2 {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  .footer-right input {
    border: 1px solid #fff;
    width: 100%;
    border-radius: 8px;
    padding: 21px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px;
  }
  .footer-right input[type="submit"] {
    background-color: #fff;
    width: inherit;
    padding: 20px 36px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Inter';
    cursor: pointer;
  }